{{- if .Values.keycloak.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-admin-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: keycloak
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
stringData:
  username: {{ .Values.keycloak.adminUser }}
  password: {{ .Values.keycloak.adminPassword }}
{{- end }}
