apiVersion: flink.apache.org/v1beta1
kind: FlinkDeployment
metadata:
  name: telemetry-session-cluster
  namespace: flink
spec:
  image: flink:1.18
  flinkVersion: v1_18
  flinkConfiguration:
    taskmanager.numberOfTaskSlots: "2"
  serviceAccount: flink
  jobManager:
    resource:
      memory: "1024m"
      cpu: 1
  taskManager:
    resource:
      memory: "1024m"
      cpu: 1
