# Production-grade values for Minikube

# Custom Queues
queues:
  - name: "demoQueue"
  - name: "orders"

# HA Configuration:
# "hard" anti-affinity ensures Pods are NEVER scheduled on the same node.
# CRITICAL: For Production (Multi-Node), set this to "hard".
# For Minikube (Single-Node), we MUST use "soft" or pods will stay Pending.
antiAffinity: "soft" 

replicas: 1 # 1 Master + 1 Slave pair (2 pods total).

# GitOps / ArgoCD Best Practice:
# Explicitly set the password. If left empty, the chart generates a random one via `randAlphaNum`,
# which causes ArgoCD to see "OutOfSync" on every refresh.
artemisUser: "admin"
artemisPassword: "changeit123!"

image:
  repository: apache/activemq-artemis
  tag: latest
  pullPolicy: IfNotPresent

securityContext:
  runAsUser: 1001
  fsGroup: 1001

containerSecurityContext:
  allowPrivilegeEscalation: false

persistence:
  enabled: true
  storageClass: "standard"
  accessMode: ReadWriteOnce
  size: 2Gi

resources:
  requests:
    memory: 512Mi
    cpu: 250m
  limits:
    memory: 1024Mi
    cpu: 500m

prometheus:
  jmx:
    enabled: true
    port: 9404
